body
{
  font-family:sans-serif;
  color: white;
}

.backgroundImage
{
    background-image: url('../images/GameDB_Website_Background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    opacity: .92;
    min-height: 3200px;
}

.noBG
{
  background: none;
}

.verticalCenter
{
  margin-top: 18px;
}

main
{
  width:100%;
  margin:auto;
  min-height:300px;
  overflow: auto;
}
main > header
{
  width:100%;
  background-image: radial-gradient(rgb(10, 10, 56), rgba(0, 0, 0, 0));
  border:1px solid black;
  min-height: 25px;
  text-align: center;
  margin-top:0;
  position:relative;
  float:left;
}

.title
{
  text-align:center;
  font-size:1.3em;
  font-weight: bolder;
}

.hideData
{
  display:none;
}

a
{
  color: rgb(240, 102, 240);
}

nav
{
  width:100%;
  /*padding:.5%; */
}

section
{
  width:100%;
  min-height: 600px;
  padding:.5%;
  position:relative;
  float:left;
}



.td1
{
  padding: 1%;
}

.button
{
  padding:.5%;
  background-color:rgb(240, 240, 240);
  font-weight:bold;
  font-size:1.1em;
  min-width:100px;
  border-style: outset;
  border:1px solid black;
  cursor:pointer;
}

.label
{
   background-color:rgba(240, 240, 240, 0.8);
   color: black;
   font-weight:bold;
   text-align:center;
   width: 200px;
   padding: .5%;
}

.labelLeft
{
  background-color:rgba(240, 240, 240, 0.8);
  color: black;
  font-weight:bold;
  text-align:left;
  width: 200px;
  padding: .5%;
}


.imageSize
{ 
  width:100%;
}

.dropdown
{
  font-size:1em;
}

.textbox 
{
  background: none;
  padding:1%;
}

.center
{
  text-align:center;
}

.table100
{
  width:100%;
  /*text-align: center;  */
}

.center30
{
  width: 30%;
  margin:auto;
}

td
{
  background-color:rgba(240, 240, 240, 0.33);
}


.table50
{
  width:50%;
  border:1px solid black;
}

.table50 td
{
  border:1px solid black;
  text-align:left;
  padding:1%;
  margin:1%;
}

.table50 th
{
  background-color:rgb(0, 100, 200);
  color:white;
}

.table select
{
  font-size:1.2em;
}

article
{
  width:98%;
  position: relative;
  float:left;
  margin:.5%;
  padding:.5%;
  border:2px solid darkgreen;
}

.article33
{
  width:32%;
  min-height: 450px;
  position: relative;
  float:left;
  padding:1%;
  margin:.5%;
  border:none;
}


.article50
{
  width:48.5%;
  min-height: 450px;
  border:2px solid darkgreen;
  position: relative;
  float:left;
  padding:1%;
  margin:.5%;
}

article > header
{
  font-size:1.2em;
  font-weight: bold;
  text-align: center;
  background:#000080;
  color:white;
  border:1px solid #000000;
  min-height: 30px;
}

header > h3
{
  font-style: italic;
  color: lightblue;
}

header > h1
{
  
  font-size: 2.4em;
  color: lightblue;
}

article > div
{
  padding-top:1%;
  padding-bottom:1%;
  width:100%;
  text-align:justify;
}

div > img
{
  position: relative;
  float: left;
  padding-top:1%;
  padding-right:2%;
  padding-bottom:1%;
}

footer
{
  width:100%;
  background-color:rgba(10, 10, 56, 0.5);
  border:1px solid black;
  min-height: 25px;
  padding:1%;
  font-size: 1.2em;
  font-style: italic;
  text-align:center;
  position:relative;
  float:left;
}

.text-danger
{
  font-style: italic;
  color: red;
}

#console
{
  max-width: 250px;
  max-height: 250px;
}
